# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Hacked-in core files cause Eclipse is being dumb.
src/main/java/minecrafttransportsimulator
src/main/resources/assets/mts/jsondefs
src/main/resources/assets/mts/objmodels
src/main/resources/assets/mts/sounds
src/main/resources/assets/mts/textures